<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}
        Big Picture by HTML5 UP
		{% endblock %}</title>
        {% block stylesheets %}
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="{{ asset('assets/css/main.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
        {% block body %}
        <body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>kawaï von tierisch</h1>
				{% block nav %}
				<nav>
					<ul>
						<li><a href="#intro">Intro</a></li>
						<li><a href="#one">What I Do</a></li>
						<li><a href="#two">Who I Am</a></li>
						<li class="nav-item dropdown">
        					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          					My work
        					</a>
        					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
        					<a class="dropdown-item" href="#work">Resumé</a>
          					<a class="dropdown-item" href="#">actionon</a>
          					<a class="dropdown-item" href="#">Another action</a>
          					<div class="dropdown-divider"></div>
          						<a class="dropdown-item" href="#">Something else here</a>
        					</div>
      					</li>			
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
				{% endblock %}
			</header>

		<!-- Intro -->
	
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					{% block content %}
					<header>
						<h2>kawaï von tierisch</h2>
					</header>
						
					<p>Welcome to <strong>Big Picture</strong> a responsive site template designed by <a href="https://html5up.net">HTML5 UP</a><br />
					and released for free under the <a href="https://html5up.net/license">Creative Commons Attribution license</a>.</p>
					{% endblock %}
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>What I Do</h2>
					</header>
					<p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
					Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu,
					id varius justo euismod in. Curabitur egestas consectetur magna.</p>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>Who I Am</h2>
					</header>
					<p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
					Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis arcu,
					id varius justo euismod in. Curabitur egestas consectetur magna.</p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>

		<!-- Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2>My Work</h2>
						<p>Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
						Fusce blandit ultrices sapien, in accumsan orci rhoncus eu. Sed sodales venenatis
						arcu, id varius justo euismod in. Curabitur egestas consectetur magna vitae.</p>
					</header>

					<!-- Gallery  -->
						<div class="gallery">
							<article class="from-left">
								<a href="{{ asset('images/fulls/01.jpg')}}" class="image fit" style="cursor: pointer;outline: 0px;height: 100%;"><img src="{{ asset('images/thumbs/01.jpg')}}" title="The Anonymous Red" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="{{ asset('images/fulls/02.jpg')}}" class="image fit"><img src="{{ asset('images/thumbs/02.jpg')}}" title="Airchitecture II" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="{{ asset('images/fulls/03.jpg')}}" class="image fit"><img src="{{ asset('images/thumbs/03.jpg')}}" title="Air Lounge" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="{{ asset('images/fulls/04.jpg')}}" class="image fit"><img src="{{ asset('images/thumbs/04.jpg')}}" title="Carry on" alt="" /></a>
							</article>
							<article class="from-left">
								<a href="{{ asset('images/fulls/05.jpg')}}" class="image fit"><img src="{{ asset('images/thumbs/05.jpg')}}" title="The sparkling shell" alt="" /></a>
							</article>
							<article class="from-right">
								<a href="{{ asset('images/fulls/06.jpg')}}" class="image fit"><img src="{{ asset('images/thumbs/06.jpg')}}" title="Bent IX" alt="" /></a>
							</article>
						</div>

				</div>
			</section>
		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/Kawa%C3%AF-Von-Tierisch-552632184750849/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
					</ul>

			</footer>
	
 
        {% block javascripts %}

	<!-- Scripts -->
			<script src="{{ asset('assets/js/jquery.min.js')}}"></script>
			<script src="{{ asset('assets/js/jquery.poptrox.min.js')}}"></script>
			<script src="{{ asset('assets/js/jquery.scrolly.min.js')}}"></script>
			<script src="{{ asset('assets/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{ asset('assets/js/browser.min.js')}}"></script>
			<script src="{{ asset('assets/js/breakpoints.min.js')}}"></script>
			<script src="{{ asset('assets/js/util.js')}}"></script>
			<script src="{{ asset('assets/js/main.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




        {% endblock %}
        </body>
      {% endblock %}
</html>
